<!--
  ~ Copyright 2017-2020 George Belden
  ~
  ~ This file is part of Zenith.
  ~
  ~ Zenith is free software: you can redistribute it and/or modify it under
  ~ the terms of the GNU General Public License as published by the Free Software
  ~ Foundation, either version 3 of the License, or (at your option) any later
  ~ version.
  ~
  ~ Zenith is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zenith. If not, see <http://www.gnu.org/licenses/>.
  -->

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <div class="row w-100">
    <!-- Topbar Search -->
    <div class="col-md-11 d-flex">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="onSidebarToggleClick()">
        <i class="fa fa-bars"></i>
      </button>

      <form id="cipher_select" class="d-none d-inline form-inline mr-0 ml-md-3 mw-100 navbar-search">
        <div class="input-group rounded bg-light">
          <select #cipherSelect name="search"
                  [ngClass]="{'form-control': true, 'bg-transparent': true, 'border-0': true, 'small': true, 'cursor-wait': isRunning}"
                  [(ngModel)]="selectedCipher"
                  [compareWith]="byName"
                  (change)="onCipherSelect(cipherSelect)"
                  (mousedown)="onMouseDownSelect(cipherSelect)"
                  (mouseover)="onMouseOverSelect(cipherSelect)"
                  (mouseout)="onMouseOutSelect(cipherSelect)"
                  (focusout)="onFocusOutSelect(cipherSelect)"
                  [disabled]="isRunning">
            <option [ngValue]="cipher" *ngFor="let cipher of ciphers">{{cipher.name}} ({{cipher.rows}} x {{cipher.columns}})</option>
          </select>
          <div id="cipher_select_button" class="input-group-append" (mouseover)="onMouseOverSelect(cipherSelect)">
            <button [ngClass]="{'btn': true, 'btn-primary': true, 'cursor-default': !isRunning, 'cursor-wait': isRunning}">
              <i class="fas fa-chevron-down fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
      <div style="height: 38px; width: 175px; right: 45px; position: relative; background: white;"></div>
    </div>

    <div class="col-md-1">
      <div id="import_export" class="float-right d-flex">
        <a href="javascript:void(0);" class="btn btn-primary btn-circle mx-2" matTooltip="Import Configuration" matTooltipPosition="below" (click)="clickInput(importInput)">
          <i class="fas fa-upload">
            <input #importInput class="d-none" type="file" accept=".json" (change)='importConfiguration($event)'>
          </i>
        </a>
        <a [href]="exportUri" download="{{configFilename}}" class="btn btn-primary btn-circle mx-2" matTooltip="Export Configuration" matTooltipPosition="below" (mousedown)="setExportUri()">
          <i class="fas fa-download"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
