/*
 * Copyright 2017-2020 George Belden
 *
 * This file is part of Zenith.
 *
 * Zenith is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * Zenith is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Zenith. If not, see <http://www.gnu.org/licenses/>.
 */

/* You can add global styles to this file, and also import other style files */

@import "sb-admin-2.css";

html, body { height: 100%; }
body { margin: 0; }

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-wait {
  cursor: wait !important;
}

/* Fix for IntroJS background on side nav items */
.introjs-nav-item-highlighted {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}


/* The next two rules are for hiding arrows on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* The following two rules fix the bottom padding when trying to vertically align material form fields */
.mat-form-field.ng-untouched .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field.ng-valid .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
