<!--
  ~ Copyright 2017-2020 George Belden
  ~
  ~ This file is part of Zenith.
  ~
  ~ Zenith is free software: you can redistribute it and/or modify it under
  ~ the terms of the GNU General Public License as published by the Free Software
  ~ Foundation, either version 3 of the License, or (at your option) any later
  ~ version.
  ~
  ~ Zenith is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zenith. If not, see <http://www.gnu.org/licenses/>.
  -->

<h1 mat-dialog-title>{{mode === 'CREATE' ? 'Create a new cipher' : 'Update "' + cipher.name + '"'}}</h1>
<div mat-dialog-content>
  <form [formGroup]="newCipherForm">
    <mat-vertical-stepper #stepper [linear]="true" formArrayName="formArray">
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Name</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" required>
          <mat-error>A unique name is required</mat-error>
        </mat-form-field>
        <div>
          <button type="button" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Dimensions</ng-template>
        <mat-form-field appearance="outline" [ngClass]="'mr-2'">
          <mat-label>Rows</mat-label>
          <input matInput formControlName="rows" type="text" required>
          <mat-error>A number 0 or greater is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [ngClass]="'ml-2'">
          <mat-label>Columns</mat-label>
          <input matInput formControlName="columns" type="text" required (change)="ciphertextChange()">
          <mat-error>A number 0 or greater is required</mat-error>
        </mat-form-field>
        <div>
          <button type="button" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
        <ng-template matStepLabel>Ciphertext</ng-template>
        <mat-form-field appearance="outline" [ngClass]="'w-100'">
          <mat-label>Ciphertext (must be delimited by spaces)</mat-label>
          <textarea matInput formControlName="ciphertext" required rows="5" class="w-100" (keyup)="ciphertextChange()" (change)="ciphertextChange()"></textarea>
          <mat-error>Ciphertext is required and the length must match the product of rows and columns</mat-error>
        </mat-form-field>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button mat-button *ngIf="ciphertextFormGroup.valid" (click)="save()">Save</button>
</div>
