<!--
  ~ Copyright 2017-2020 George Belden
  ~
  ~ This file is part of Zenith.
  ~
  ~ Zenith is free software: you can redistribute it and/or modify it under
  ~ the terms of the GNU General Public License as published by the Free Software
  ~ Foundation, either version 3 of the License, or (at your option) any later
  ~ version.
  ~
  ~ Zenith is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zenith. If not, see <http://www.gnu.org/licenses/>.
  -->

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form id="cipher_select" class="d-none d-sm-inline-block form-inline mr-0 ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group rounded bg-light">
      <select #cipherSelect name="search"
              [ngClass]="{'form-control': true, 'bg-transparent': true, 'border-0': true, 'small': true, 'cursor-wait': isRunning}"
              [(ngModel)]="selectedCipher"
              [compareWith]="byName"
              (change)="onCipherSelect(cipherSelect)"
              (mousedown)="onMouseDownSelect(cipherSelect)"
              (mouseover)="onMouseOverSelect(cipherSelect)"
              (mouseout)="onMouseOutSelect(cipherSelect)"
              (focusout)="onFocusOutSelect(cipherSelect)"
              [disabled]="isRunning">
        <option [ngValue]="cipher" *ngFor="let cipher of ciphers">{{cipher.name}} ({{cipher.rows}} x {{cipher.columns}})</option>
      </select>
      <div id="cipher_select_button" class="input-group-append" (mouseover)="onMouseOverSelect(cipherSelect)">
        <button [ngClass]="{'btn': true, 'btn-primary': true, 'cursor-default': !isRunning, 'cursor-wait': isRunning}">
          <i class="fas fa-chevron-down fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  <div style="height: 38px; width: 45px; right: 45px; position: relative; background: white;"></div>

  <div id="import_export" class="float-right">
    <a href="javascript:void(0);" class="btn btn-primary btn-circle mx-2" matTooltip="Import Configuration" matTooltipPosition="below" (click)="clickInput(importInput)">
      <i class="fas fa-upload">
        <input #importInput class="d-none" type="file" accept=".json" (change)='importConfiguration($event)'>
      </i>
    </a>
    <a [href]="exportUri" download="{{configFilename}}" class="btn btn-primary btn-circle mx-2" matTooltip="Export Configuration" matTooltipPosition="below" (mousedown)="setExportUri()">
      <i class="fas fa-download"></i>
    </a>
  </div>
</nav>

<div class="container-fluid">

  <div *ngIf="showApplicationDownloadInfo" class="w-100 mb-4 alert alert-warning d-inline-block" role="alert" [@simpleFadeAnimation]>
    <i class="fas fa-info-circle mr-2"></i>Thank you for using Project Zenith!   It is free and open source, and it can be run locally or hosted.  Please check out the <a href="https://github.com/beldenge/Zenith/releases" target="_blank">releases page</a> to download the latest version.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="disableApplicationDownloadInfo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-cipher-stats-summary></app-cipher-stats-summary>

  <div class="row">

    <div class="col-xl-4">
      <app-ciphertext></app-ciphertext>
    </div>

    <div class="col-xl-4">
      <app-plaintext></app-plaintext>
    </div>

    <div class="col-xl-4">
      <app-word-segmentation></app-word-segmentation>
    </div>

  </div>

  <div class="row justify-content-end">
    <div class="col-xl-10" *ngIf="hyperparametersForm.get('epochs').value > 1">
      <h4 class="small font-weight-bold">Progress <span class="float-right">{{progressPercentage | number:'1.0-0'}}%</span></h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progressPercentage + '%'}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col-xl-1">
      <form class="user" [formGroup]="hyperparametersForm">
        <div class="form-group row">
          <label class="col-md-6 my-auto" for="epochs" matTooltip="Number of times to run the solver, the best solution of which will be displayed in the panel above" matTooltipPosition="above">Epochs</label>
          <input id="epochs" type="text" class="form-control col-md-6" formControlName="epochs" [ngClass]="{'is-invalid': !hyperparametersForm.get('epochs').valid}" (keyup)="onEpochsChange()">
        </div>
        <div class="text-center text-danger small" *ngIf="!hyperparametersForm.get('epochs').valid">{{epochsValidationMessage}}</div>
      </form>
    </div>
    <div class="col-xl-1">
      <a id="solve_button" href="javascript:void(0);" [ngClass]="{'btn': true, 'btn-success': true, 'btn-icon-split': true, 'float-right': true, 'disabled': isRunning}" (click)="solve()">
        <span class="icon text-white-50">
          <i [ngClass]="{'fas': true, 'fa-play' : !isRunning, 'fa-spinner' : isRunning, 'fa-spin': isRunning}"></i>
        </span>
        <span class="text">Solve</span>
      </a>
    </div>
  </div>

</div>
