<!--
  ~ Copyright 2017-2026 George Belden
  ~
  ~ This file is part of Zenith.
  ~
  ~ Zenith is free software: you can redistribute it and/or modify it under
  ~ the terms of the GNU General Public License as published by the Free Software
  ~ Foundation, either version 3 of the License, or (at your option) any later
  ~ version.
  ~
  ~ Zenith is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zenith. If not, see <http://www.gnu.org/licenses/>.
  -->

<ul [ngClass]="{'navbar-nav': true, 'bg-gradient-primary' : true, 'sidebar' : true, 'sidebar-dark': true, 'accordion': true, 'toggled': true}" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <div class="sidebar-brand d-block align-items-center justify-content-center">
    <div class="sidebar-brand-icon">Zenith</div>
    <div id="version_badge" class="badge badge-secondary mx-auto">v{{applicationVersion}}</div>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider mt-3 mb-0">

  <!-- Nav Item - Dashboard -->
  <li id="nav_dashboard" class="nav-item">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Nav Item - Manage Ciphers -->
  <li id="nav_manage_ciphers" class="nav-item">
    <a class="nav-link" routerLink="/ciphers" routerLinkActive="active">
      <i class="fas fa-fw fa-list"></i>
      <span>Manage Ciphers</span>
    </a>
  </li>

  <!-- Nav Item - Settings -->
  <li id="nav_settings" class="nav-item">
    <a class="nav-link" routerLink="/settings" routerLinkActive="active">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Settings</span>
    </a>
  </li>

  <!-- Nav Item - Ciphertext Transformers -->
  <li id="nav_ciphertext_transformers" class="nav-item">
    <a class="nav-link" routerLink="/transformers/ciphertext" routerLinkActive="active">
      <i class="fas fa-fw fa-lock"></i>
      <span>Ciphertext Transformers</span>
    </a>
  </li>

  <!-- Nav Item - Plaintext Transformers -->
  <li id="nav_plaintext_transformers" class="nav-item">
    <a class="nav-link" routerLink="/transformers/plaintext" routerLinkActive="active">
      <i class="fas fa-fw fa-unlock"></i>
      <span>Plaintext Transformers</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Help -->
  <li id="nav_help" class="nav-item">
    <a class="nav-link" routerLink="/help" routerLinkActive="active">
      <i class="far fa-fw fa-question-circle"></i>
      <span>Help</span>
    </a>
  </li>
</ul>
