<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cipher Name</h1>
  </div>

  <app-cipher-stats-summary></app-cipher-stats-summary>

  <div class="row">

    <div class="col-xl-6 col-lg-7">
      <app-ciphertext></app-ciphertext>
    </div>

    <div class="col-xl-6 col-lg-5">
      <app-plaintext></app-plaintext>
    </div>

  </div>

  <div class="row">
    <div class="col-xl-12">
      <a href="#" class="btn btn-success btn-icon-split float-right">
        <span class="icon text-white-50">
          <i class="fas fa-play"></i>
        </span>
        <span class="text">Solve</span>
      </a>
    </div>
  </div>

</div>
