<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form class="d-none d-sm-inline-block form-inline mr-0 ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group rounded bg-light">
      <select id="cipher_select" name="search" class="form-control bg-transparent border-0 small" [(ngModel)]="selectedCipher" (change)="clearSolution()">
        <option [ngValue]="cipher" *ngFor="let cipher of ciphers">{{cipher.name}}</option>
      </select>
      <div id="cipher_select_button" class="input-group-append">
        <button class="btn btn-primary cursor-default">
          <i class="fas fa-chevron-down fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  <div style="height: 38px; width: 45px; right: 45px; position: relative; background: white;"></div>
</nav>

<div class="container-fluid">

  <app-cipher-stats-summary></app-cipher-stats-summary>

  <div class="row">

    <div class="col-xl-6 col-lg-7">
      <app-ciphertext [cipher]="selectedCipher"></app-ciphertext>
    </div>

    <div class="col-xl-6 col-lg-5">
      <app-plaintext [cipher]="selectedCipher" [solution]="solution"></app-plaintext>
    </div>

  </div>

  <div class="row">
    <div class="col-xl-12">
      <a href="#" class="btn btn-success btn-icon-split float-right" (click)="solve()">
        <span class="icon text-white-50">
          <i class="fas fa-play"></i>
        </span>
        <span class="text">Solve</span>
      </a>
    </div>
  </div>

</div>
