<!--
~ Copyright 2017-2026 George Belden
~
~ This file is part of Zenith.
~
~ Zenith is free software: you can redistribute it and/or modify it under
~ the terms of the GNU General Public License as published by the Free Software
~ Foundation, either version 3 of the License, or (at your option) any later
~ version.
~
~ Zenith is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
~ details.
~
~ You should have received a copy of the GNU General Public License along with
~ Zenith. If not, see <http://www.gnu.org/licenses/>.
-->

<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">Plaintext Transformation Pipeline</h1>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <p>Drag transformers from the left to build a top-down transformer pipeline in the middle.  These will apply in realtime to the plaintext sample on the right.</p>
  </div>

  <div class="row">

    <div id="available_plaintext_transformers_container" class="col-xl-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Available Transformers</h6>
        </div>
        <!-- Card Body -->
        <div id="available_transformers_list" class="card-body" [sortablejs]="availableTransformers" [sortablejsOptions]="availableTransformersOptions" [sortablejsCloneFunction]="cloneTransformer">
          @for (item of availableTransformers; track item) {
            <div class="col-xl-12 mb-4 transformer">
              <div class="card border-left-primary shadow h-100 py-2 pl-3">
                <div class="card-body p-2">
                  <div class="row no-gutters align-items-center">
                    <div class="col-md-10">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.displayName}}</div>
                    </div>
                    <div class="col-md-2 text-right">
                      <i class="far fa-question-circle" matTooltip="{{item.helpText}}" matTooltipPosition="right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div id="plaintext_transformer_pipeline" class="col-xl-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Transformer Pipeline</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" [sortablejs]="appliedTransformers" [sortablejsOptions]="appliedTransformersOptions" [sortablejsCloneFunction]="cloneTransformer">
          @if (!appliedTransformers || !appliedTransformers.length) {
            <div>Drop transformers here</div>
          }
          @for (item of appliedTransformers; track item; let i = $index) {
            <div class="col-xl-12 mb-4 transformer" animate.leave="fade-out">
              <div class="card border-left-primary shadow h-100 py-2 pl-3">
                <div class="card-body p-2">
                  <div class="row no-gutters align-items-center">
                    <div class="col-md-6">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.displayName}}</div>
                    </div>
                    @if (item.form) {
                      <div class="col-md-4">
                        <form [formGroup]="item.form.form">
                          <formly-form [form]="item.form.form" [fields]="item.form.fields" [model]="item.form.model" (modelChange)="onAppliedTransformersChange(null)"></formly-form>
                        </form>
                      </div>
                    }
                    <div class="col-md-{{item.form ? 2 : 6}} text-right">
                      <i class="fas fa-times-circle fa-lg" [ngClass]="hoverClasses[i]" (mouseover)="hoverClasses[i]='text-gray-900 cursor-pointer'" (mouseout)="hoverClasses[i]=''" (click)="removeTransformer(i)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div id="sample_plaintext" class="col-xl-4">
      <app-plaintext-sample [transformedSample]="transformedSample"></app-plaintext-sample>
    </div>

  </div>

</div>
