<div class="float-left p-4">
  Ciphers are saved to: ciphers.json
</div>

<div class="float-right p-4">
  <a href="javascript:void(0);" class="btn btn-primary btn-icon-split" (click)="openNewCipherModal()">
        <span class="icon text-white-50">
          <i [ngClass]="{'fas': true, 'fa-plus': true}"></i>
        </span>
    <span class="text">New</span>
  </a>
</div>

<mat-form-field *ngIf="ciphers.data.length > pageSizeOptions[0]">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table mat-table [dataSource]="ciphers" matSort class="mat-elevation-z8 mx-auto">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let cipher"> {{cipher.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rows">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rows </th>
    <td mat-cell *matCellDef="let cipher"> {{cipher.rows}} </td>
  </ng-container>

  <ng-container matColumnDef="columns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Columns </th>
    <td mat-cell *matCellDef="let cipher"> {{cipher.columns}} </td>
  </ng-container>

  <ng-container matColumnDef="ciphertext">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciphertext </th>
    <td mat-cell *matCellDef="let cipher"> {{cipher.ciphertext}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let cipher" [ngClass]="'text-center'">
      <ng-container *ngIf="!cipher.readOnly">
        <i class="fas fa-edit text-primary mx-2 cursor-pointer"></i>
        <i class="fas fa-trash-alt text-danger mx-2 cursor-pointer"></i>
      </ng-container>
      <ng-container *ngIf="cipher.readOnly">
        <p class="m-auto text-muted"><small>Read-only</small></p>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator *ngIf="ciphers.data.length > pageSizeOptions[0]" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
