#table-container {
 width: 95%;
}

#filter-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  width: 25%;
  font-size: 14px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-name {
  width: 25%;
}

.mat-column-rows {
  width: 5%;
}

.mat-column-columns {
  width: 5%;
}

.mat-column-ciphertext {
  width: 55%;
}

.mat-column-actions {
  width: 10%;
}
