<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">Zenith</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li id="nav_dashboard" class="nav-item active">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Nav Item - Manage Ciphers -->
  <li id="nav_manage_ciphers" class="nav-item">
    <a class="nav-link" routerLink="/ciphers">
      <i class="fas fa-fw fa-list"></i>
      <span>Manage Ciphers</span>
    </a>
  </li>

  <!-- Nav Item - Settings -->
  <li id="nav_settings" class="nav-item">
    <a class="nav-link" routerLink="/settings">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Settings</span>
    </a>
  </li>

  <!-- Nav Item - Ciphertext Transformers -->
  <li id="nav_ciphertext_transformers" class="nav-item">
    <a class="nav-link" routerLink="/transformers/ciphertext">
      <i class="fas fa-fw fa-lock"></i>
      <span>Ciphertext Transformers</span>
    </a>
  </li>

  <!-- Nav Item - Plaintext Transformers -->
  <li id="nav_plaintext_transformers" class="nav-item">
    <a class="nav-link" routerLink="/transformers/plaintext">
      <i class="fas fa-fw fa-unlock"></i>
      <span>Plaintext Transformers</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Help -->
  <li id="nav_help" class="nav-item">
    <a class="nav-link" routerLink="/help">
      <i class="far fa-fw fa-question-circle"></i>
      <span>Help</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
