<!--
~ Copyright 2017-2026 George Belden
~
~ This file is part of Zenith.
~
~ Zenith is free software: you can redistribute it and/or modify it under
~ the terms of the GNU General Public License as published by the Free Software
~ Foundation, either version 3 of the License, or (at your option) any later
~ version.
~
~ Zenith is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
~ details.
~
~ You should have received a copy of the GNU General Public License along with
~ Zenith. If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row mt-4">
  <div class="col-md-6 text-left py-0 px-4">
    Ciphers are saved to your browser's local storage.  If you wish to share or use them in a different browser, you can export them from the top right of the page.
  </div>

  <div class="col-md-6 text-right">
    <div class="py-0 px-4">
      <button id="create_button" class="btn btn-primary btn-circle mx-2" matTooltip="Create Cipher" matTooltipPosition="below" (click)="createCipher()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div id="filter_container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
</div>

<div id="table_container" class="mat-elevation-z8 mx-auto mb-4">
  <table mat-table [dataSource]="ciphersDataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let cipher"> {{cipher.name}} </td>
    </ng-container>

    <ng-container matColumnDef="rows">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rows </th>
      <td mat-cell *matCellDef="let cipher"> {{cipher.rows}} </td>
    </ng-container>

    <ng-container matColumnDef="columns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Columns </th>
      <td mat-cell *matCellDef="let cipher"> {{cipher.columns}} </td>
    </ng-container>

    <ng-container matColumnDef="ciphertext">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciphertext </th>
      <td mat-cell *matCellDef="let cipher"> {{cipher.ciphertext.join(' ')}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cipher" [ngClass]="'text-center'">
        <div class="row">
          <div class="col-md-6 text-right">
            <i class="far fa-clone text-primary mx-2 cursor-pointer" matTooltip="Clone" matTooltipPosition="above" (click)="cloneCipher(cipher)"></i>
          </div>
          <div class="col-md-6">
            @if (!cipher.readOnly) {
              <i class="far fa-edit text-primary mx-2 cursor-pointer" matTooltip="Edit" matTooltipPosition="above" (click)="editCipher(cipher)"></i>
              <i class="far fa-trash-alt text-danger mx-2 cursor-pointer" matTooltip="Delete" matTooltipPosition="above" (click)="deleteCipher(cipher)"></i>
            }
            @if (cipher.readOnly) {
              <p class="m-auto text-muted"><small>Read-only</small></p>
            }
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
